@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Poppins&display=swap");
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.App-container {
  background-color: #f1f2f3;
}

.intro-container {
    background-image: 
        url("./assets/wave.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    background-position: center;
    color: black;
    margin: auto;
}

.logo {
    color: #e4812f;
}

.logo-info {
  color: #e4812f;
}

.button-container button {
    border-radius: 25px;
    border: none;
    padding: 10px;
    margin-right: 1%;
    background-color: #e4812f;
    color: white;
    margin-top: 5%;
}

.text-intro-container{
  padding-top: 10%;
}

.proses-box {
    padding: 2%;
}

.proses-container {
    margin-top: 3%;
}

.about-container {
    margin-top: 5%;
    padding: 1rem 4rem 0 4rem;
}

.prosess-header {
    font-weight: bold;
    font-size: 1.44rem;
    margin-top: 2%;
}

.icon-prosess {
    margin-right: 1rem;
    color: black;
}

.freelance-web-info {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.629),
            rgba(51, 50, 50, 0.271)
        ),
        url("./assets/2.webp");
    background-position: center;
    background-size: cover;
    min-height: 13rem;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    margin-top: 10%;
}

.freelance-design-info {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.629),
            rgba(51, 50, 50, 0.271)
        ),
        url("./assets/3.webp");
    background-position: center;
    background-size: cover;
    min-height: 13rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 10%;
  }
  
  .prosess-header-info {
    margin-top: 13%;
    margin-bottom: 6%;
  }

.freelance-info-header {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.reason-box{
  text-align: center;
}


.reason-header {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3.5%;
}

.icon-reason {
  color: black;
  font-size: 6.3rem;
  margin-bottom: 6%;
}

.reason-box h4 {
  margin-bottom: 6%;
}

.reason-container {
  margin-bottom: 10%;
  margin-top: 5%;
}

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: 
        url("./assets/wave.svg");
        color: black;
}

.login-container {
  max-width: 380px;
  margin: auto;

}

.other-login-button {
  border-radius: 25px;
  white-space: nowrap;
  text-align: center;
  padding: 0 3rem 0 3rem;
  height: 2.3rem;
  border: none;
  background-color: black;
  color: #F6E9E9;
}

.facebook-login {
  margin: 5% 0 5% 0;
}

.other-login {
  display: flex;
  flex-direction: column;
}

.login-button-container {
  display: flex;
  margin: 2rem 4rem 2rem 0rem;
  justify-content: space-between;
}

.login-button {
  padding: 0 2rem 0 2rem;
  border-radius: 5px;
  border: none;
  height: 2rem;
  width: fit-content;
  margin-right: -4rem;
  background-color: black;
  color: white;
}

.line-break {
  border: 1px solid white;
  width: 10.8rem;
  margin: auto;
}

.freelancer-filter {
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  background-color: white;
}

.freelancer-page {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
  "sidebar card card card";
  grid-gap: 3rem 2rem;
  margin: 4% 0 4% 4%;
  background-image: 
  url("./assets/wave.svg");
}


.main-container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-area: card;
  grid-gap: 2rem;
}

.image-profile {
  border-radius: 50%;
  padding: 10% 20% 0 20%;

}

.freelancer-search {
  margin-top: 15%;
}

@media only screen and (max-width: 600px) {
  .freelancer-page {
    display: flex;
    flex-direction: column;
  }

  .main-container {
  grid-template-columns: 25%;
  margin: auto;
  }
}